# Server Configuration
PORT=
NODE_ENV=

# Database Configuration (PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=


# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
